{% extends 'base.html' %}

{% block head %}
<h1>
TaskTracker
</h1>>
{% endblock %}  

{% block body%}
<div class="content">

    <h1>
        TaskMaster
    </h1>
    <table>
        <tr>
                <th<>Task</th>
                <th>Added</th>
                <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date()}}</td>
        <td>
            <a href="">Delete</a>
            <br>
            <a href="">Update</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    <form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add task">

    </form>
</div>
{% endblock%}